In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], columns=['A','B','C'])
print (df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [2]:
df.apply(lambda x: x**2,axis=0)

    A   B   C
0   1   4   9
1  16  25  36
2  49  64  81

In [3]:
df.apply(lambda x: x**2 ,axis = 1)

    A   B   C
0   1   4   9
1  16  25  36
2  49  64  81

In [4]:
df['A'].apply(lambda x: x**2)

0     1
1    16
2    49
Name: A, dtype: int64

In [5]:
Data = pd.DataFrame([['1 lbs',2,3], ['4 lbs',5,6], ['7 lbs',8,9]], columns=['A','B','C'])

In [6]:
Data

       A  B  C
0  1 lbs  2  3
1  4 lbs  5  6
2  7 lbs  8  9

In [7]:
Data['A'] = Data['A'].apply(lambda x: int(x.strip('lbs')))
Data

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [9]:
Data = pd.DataFrame([['1 lbs',2,3], ['4 lbs',5,6], [None,8,9]], columns=['A','B','C'])
Data

       A  B  C
0  1 lbs  2  3
1  4 lbs  5  6
2   None  8  9

In [10]:
Data['A'] = Data['A'].apply(lambda x: int(x.strip('lbs')) if type(x) == str else 0)
Data

   A  B  C
0  1  2  3
1  4  5  6
2  0  8  9